<form action="" class="add-form" name="myForm" ng-show="canShow" method="post" id="fileupload" data-file-upload="options" enctype="multipart/form-data">

	<div class="add-left pull-left text-center">
		<img class="user-pic" ng-class="{'canvas' : !con.contactNewImg }" ng-show="queue.length == 0" ng-src="./server/php/files/thumbnail/{{con.contactNewImg}}">
		
		<span class="btn fileinput-button form-add-btn" ng-class="{disabled: disabled}" ng-click="getQueue(queue)">
            <span>Добавить картинку...</span>
            <input type="file" name="files[]" ng-disabled="disabled" accept="image/*">
        </span>
        
		<input class="btn form-btn pull-left" type="button" value="Сохранить" ng-click="saveContact()" ng-disabled="myForm.mail.$error.email || processing() || loadingFiles || (!con.contactName && !con.contactLastName && !con.contactEmail && !con.contactTel)">
		<input class="btn form-btn pull-right" type="reset" value="Удалить" ng-click="removeContact()" ng-disabled="processing() || loadingFiles || (pageName == 'add')">

	</div>


	<div class="add-right pull-right">
		<div class="form-group">
		    <label for="f-name">Имя</label>
		    <input ng-model="con.contactName" type="text" class="form-control" name="name" id="f-name" placeholder="Имя контакта">
		</div>
		<div class="form-group">
		    <label for="f-lastname">Фамилия</label>
		    <input ng-model="con.contactLastName" type="text" class="form-control" name="lastname" id="f-lastname" placeholder="Фамилия контакта">
		</div>
		<div class="form-group">
		    <label for="f-mail">Контактная информация</label>
		    <div class="input-group" ng-class="{'has-error' : myForm.mail.$error.email}">
				<span class="input-group-addon"><div class="ico ico-mail"></div></span>
				<input ng-model="con.contactEmail" type="email" class="form-control" name="mail" id="f-mail" placeholder="yourmail@gmail.com">
			</div>
		</div>
		<div class="form-group">
			<label for="f-tel" class="sr-only">Телефон</label>
			<div class="input-group">
				<span class="input-group-addon ig-phone"><div class="ico ico-phone"></div></span>
				<input ng-model="con.contactTel" type="text" class="form-control" name="tel" id="f-tel" placeholder="Телефон">
			</div>
		</div>
	</div>

</form>

