<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Телефонная книжка</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- build:css css/vendor.css -->
    	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    	<link rel="stylesheet" type="text/css" href="bower_components/jquery-file-upload/css/jquery.fileupload.css">
    	<link rel="stylesheet" type="text/css" href="bower_components/jquery-file-upload/css/jquery.fileupload-ui.css">
    <!-- endbuild -->

    <noscript>
    <!-- build:css css/noscript.css -->
    	<link rel="stylesheet" type="text/css" href="bower_components/jquery-file-upload/css/jquery.fileupload-noscript.css">
    	<link rel="stylesheet" type="text/css" href="bower_components/jquery-file-upload/css/jquery.fileupload-ui-noscript.css">
    <!-- endbuild -->	
    </noscript>

	<!-- build:css css/styles.css -->
    	<link rel="stylesheet" type="text/css" href="css/styles.css">
    	<link rel="stylesheet" type="text/css" href="bower_components/angular/angular-csp.css">
    <!-- endbuild -->
	
</head>
<body ng-app="phoneBook">

	<div class="main container text-center">
		<h1 class="title" ng-cloak>{{title}}</h1>
		<div class="bar clearfix" ng-cloak>
			<div class="bar-left text-left pull-left">
				<a class="btn" ng-show="pageName == 'index'" ng-href="#/add">Добавить</a>
				<a class="ico ico-back" ng-show="pageName != 'index'" ng-href="#/"></a>
			</div>
			<div class="bar-right text-right pull-right" ng-init="listTable = true" ng-show="pageName == 'index'">
				<div class="ico ico-list" ng-class="{'active': listTable}" ng-click="listTable = true"></div>
				<div class="ico ico-plit" ng-class="{'active': !listTable}" ng-click="listTable = false"></div>
			</div>
		</div>
		
		<div class="view text-left" ng-view></div>	
	</div>

	<!-- build:js js/vendor.js -->
	    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
	    <script type="text/javascript" src="bower_components/angular/angular.js"></script>

	    <script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
	    <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
	    <script type="text/javascript" src="bower_components/firebase/firebase.js"></script>
	    <script type="text/javascript" src="bower_components/angularfire/dist/angularfire.min.js"></script>


	    <script type="text/javascript" src="bower_components/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
	    <script type="text/javascript" src="bower_components/blueimp-load-image/js/load-image.all.min.js"></script>
	    <script type="text/javascript" src="bower_components/blueimp-canvas-to-blob/js/canvas-to-blob.min.js"></script>
		<script type="text/javascript" src="bower_components/jquery-file-upload/js/jquery.iframe-transport.js"></script>
		<script type="text/javascript" src="bower_components/jquery-file-upload/js/jquery.fileupload.js"></script>
		<script type="text/javascript" src="bower_components/jquery-file-upload/js/jquery.fileupload-process.js"></script>
	    <script type="text/javascript" src="bower_components/jquery-file-upload/js/jquery.fileupload-image.js"></script>
	    <script type="text/javascript" src="bower_components/jquery-file-upload/js/jquery.fileupload-validate.js"></script>
	    <script type="text/javascript" src="bower_components/jquery-file-upload/js/jquery.fileupload-angular.js"></script>


	<!-- endbuild -->
	<!-- build:js js/combined.js -->
	    <script type="text/javascript" src="js/book.js"></script>
	<!-- endbuild -->
</body>
</html>